3-Corte/Proyecto_web_service_cliente/xml-resources/web-service-references/WSServidor/wsdl/localhost_8080/proyecto-web-service/WSServidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="detenerServidor" type="tns:detenerServidor"/>

<xs:element name="iniciarServidor" type="tns:iniciarServidor"/>

<xs:element name="iniciarServidorResponse" type="tns:iniciarServidorResponse"/>

<xs:complexType name="iniciarServidor">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarServidorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detenerServidor">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>